asgiref==3.5.2
beautifulsoup4==4.11.1     
Django==4.0.6
django-bootstrap-v5==1.0.11
django-bootstrap4==22.1    
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-environ==0.9.0
django-utils==0.0.2
django-utils-six==2.0
environ==1.0
psycopg2==2.9.3
PyPDF2==2.10.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing_extensions==4.3.0
tzdata==2022.1
